@use 'functions' as *;
@use 'mixins' as *;

// Image
// 等比圖片製作
// 使用 padding-bottom 作法
// `父層` 使用 `u-img-ratio` 並將 `img` 加上 `u-object-fit` `--abs` 使其絕對定位（才能成功套用等比例）
// .u-img-ratio {
//   --img-w-ratio: 3;
//   --img-h-ratio: 2;

//   // 因為有時候會是 a 連結
//   display: block;

//   // for editor iframe
//   max-width: 100%;

//   // padding 寫在 ::before 才能用 `u-img-ratio` 控制寬度
//   &::before {
//     content: '';
//     display: block;
//     width: 100%;
//     // padding 使用 % 單位會依據父層 `u-img-ratio` 寬度
//     // 所以 padding-bottom: 100% 會是正方形
//     // 1 : 1 = 100% : 100%
//     // 4 : 3 = 100% : X
//     // X = 100 * 3 / 4 = 75
//     // padding-bottom: 75%
//     padding-bottom: calc(100% * var(--img-h-ratio) / var(--img-w-ratio));
//   }
// }

// 等比圖片製作
// 使用 aspect-ratio 作法
// 將 img 父層加上 `u-img-ratio` 即可
// aspect-ratio 寫法與 padding 寫法差在瀏覽器支援度
.u-img-ratio {
  --ratio: 4/3;
  aspect-ratio: var(--ratio);
}

[data-parallax-offset] {
  overflow: hidden;
}

// 如同 background-image（用 img 搭配 object-fit 有助於 SEO 搜尋）
.u-object-fit {
  --object-fit: cover;
  --object-position-x: center;
  --object-position-y: center;
  --parallax-offset: 0;
  @include size(100%);
  object-fit: var(--object-fit);
  object-position: var(--object-position-x) var(--object-position-y);
  overflow: hidden;
  &.--abs {
    position: absolute;
    left: 0;
    top: 0;
  }
  // for GSAP 視差滾動
  &.--parallax {
    // 把要做視差滾動的圖片高度，加上位移量，讓他有空間位移
    // 乘以 1px 是為了讓 --parallax-offset 數字轉 px
    height: calc(100% + var(--parallax-offset) * 1px);
    max-height: none;
    // transition: transform 1s cubic-bezier(.23, .83, .7, 1);
  }
}

// Icon
[class*='u-icon'] {
  // 因為 Iconify icon 預設是 inline 會導致一些像 img 一樣的底部空白
  // 不過 vertical-align: middle; 無法徹底解決
  // 所以直接設 block 跳脫文字樣式
  display: block;
}
.u-icon {
  // width: 100%;
  // height: 100%;
  // @include size(100%);

  // display: block;
  font-size: rem(24);
  &-lg {
    font-size: rem(40);
  }
  &-md {
    font-size: rem(28);
  }
  &-sm {
    font-size: rem(18);
  }
}
// .u-icon { display: block }
// .u-icon-lg {}
// .u-icon-md {}
// .u-icon-sm {}

.u-editor {
  max-width: 100%;
  font-size: var(--text-md);
  font-weight: 500;
  line-height: var(--leading-relaxed);
  overflow: auto;
  a,
  button {
    border-bottom: 1px solid var(--color-primary);
    transition: color 0.3s;
    &:hover {
      color: var(--color-primary);
    }
  }
  ul,
  ol {
    list-style: revert;
    margin: revert;
  }
  ul {
    padding-left: rem(28);
  }
  ol {
    padding-left: rem(36);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  button {
    margin: revert;
  }
  span {
    display: inline;
  }
}
