@use 'functions' as *;
@use 'mixins' as *;

:root {
  // 所有數值除以 16 = 乘以 1 / 16
  // 1rem 是為了計算時加上 rem 單位
  --html-spacing: 1rem / 16;

  // Container
  --container-md: calc(var(--html-spacing) * 1600);
  --container-default: calc(var(--html-spacing) * 1520);
  --container-sm: calc(var(--html-spacing) * 1440);
  --container-xs: calc(var(--html-spacing) * 1360);
  --container-2xs: calc(var(--html-spacing) * 1280);
  --container-3xs: calc(var(--html-spacing) * 880);

  // Section
  --section-spacing-x: 4vw;
  --section-spacing-y: var(--spacing-30);
  @include media(max-sm) {
    --section-spacing-x: 1vw;
  }

  // Spacing
  --u-spacing-40: #{rem(160)};
  --u-spacing-36: #{rem(144)};
  --u-spacing-32: #{rem(128)};
  --u-spacing-30: #{rem(120)};
  --u-spacing-26: #{rem(104)};
  --u-spacing-24: #{rem(96)};
  --u-spacing-22: #{rem(88)};
  --u-spacing-20: #{rem(80)};
  --u-spacing-18: #{rem(72)};
  --u-spacing-16: #{rem(64)};
  --u-spacing-14: #{rem(56)};
  --u-spacing-12: #{rem(48)};
  --u-spacing-10: #{rem(40)};
  --u-spacing-9: #{rem(36)};
  --u-spacing-8: #{rem(32)};
  --u-spacing-6: #{rem(24)};
  --u-spacing-5: #{rem(20)};
  --u-spacing-4: #{rem(16)};
  --u-spacing-3: #{rem(12)};
  --u-spacing-2: #{rem(8)};
  --u-spacing-1: #{rem(4)};
  @include media(max-sm) {
    --u-spacing-40: 24vw;
    --u-spacing-36: 22vw;
    --u-spacing-32: 21vw;
    --u-spacing-30: 20vw;
    --u-spacing-26: 19vw;
    --u-spacing-24: 18vw;
    --u-spacing-22: 17vw;
    --u-spacing-20: 16vw;
    --u-spacing-18: 15vw;
    --u-spacing-16: 14vw;
    --u-spacing-14: 12vw;
    --u-spacing-12: 10vw;
    --u-spacing-10: 8vw;
    --u-spacing-9: 7vw;
    --u-spacing-8: 6vw;
    --u-spacing-6: 5vw;
    --u-spacing-5: 4vw;
    --u-spacing-4: 3vw;
    --u-spacing-3: 2vw;
  }

  // Text
  --u-text-5xl: #{rem(64)};
  --u-text-4xl: #{rem(40)};
  --u-text-3xl: #{rem(32)};
  --u-text-2xl: #{rem(28)};
  --u-text-xl: #{rem(24)};
  --u-text-lg: #{rem(20)};
  --u-text-md: #{rem(18)};
  --u-text-base: #{rem(16)};
  --u-text-sm: #{rem(14)};
  --u-text-xs: #{rem(12)};
  @include media(max-md) {
    --u-text-4xl: #{rem(36)};
  }
  @include media(max-sm) {
    --u-text-5xl: #{rem(62)};
    --u-text-4xl: #{rem(32)};
    --u-text-3xl: #{rem(28)};
    --u-text-2xl: #{rem(24)};
    --u-text-xl: #{rem(22)};
    --u-text-lg: #{rem(18)};
    --u-text-md: #{rem(17)};
  }
}
