---
import BaseLayout from '@/layouts/BaseLayout.astro';
import InnerHero from '@/components/InnerHero.astro';
---

<BaseLayout path="/404" pageTitle="404 ERROR">
  <InnerHero blockade blockadeText="404 ERROR 找不到頁面">
    <h2 class="text-3xl font-900">404 ERROR</h2>
  </InnerHero>
  <main class="l-main">
    <section class="l-error">
      <div class="container">
        <h3 class="text-2xl text-center">
          糟糕！網頁發生錯誤，請點擊其他連結瀏覽
        </h3>
      </div>
    </section>
  </main>
</BaseLayout>
