---
import Layout from '@/layouts/Layout.astro';
import InnerHero from '@/components/InnerHero.astro';
---

<Layout pageTitle="404 ERROR">
  <InnerHero title="404 ERROR" blockade blockadeText="404 ERROR 找不到頁面" />
  <section class="l-error">
    <div class="container">
      <h3 class="text-2xl text-center">
        糟糕！網頁發生錯誤，請點擊其他連結瀏覽
      </h3>
    </div>
  </section>
</Layout>
