---
import Layout from '@/layouts/Layout.astro';
import HomeAbout from '@/components/Home/About.astro';
import HomeHero from '@/components/Home/Hero.astro';
import HomeLineup from '@/components/Home/Lineup.astro';
import HomeNews from '@/components/Home/News.astro';
---

<Layout>
  <main class="l-main">
    <HomeHero />
    <HomeLineup />
    <HomeNews />
    <HomeAbout />
  </main>
</Layout>
