---
import Btn from '@/components/Btn.astro';
import SectionTitle from '@/components/Home/SectionTitle.astro';
import { SITE_BASE_PATH } from '@/consts';
---

<section id="about" class="--gradient l-about">
  <div class="container">
    <div class="mb-20" data-aos="fade-right">
      <SectionTitle title="ABOUT" />
    </div>
  </div>
  <div class="container-sm --align-left">
    <div class="row">
      <div class="col-md-8 order-md-0 order-2" data-aos="fade-right">
        <div class="l-about__img-wrap">
          <div class="l-about__img-mask" data-parallax-offset="-200">
            <!-- data-parallax-offset 自訂義的 gsap 圖片視差，值為位移 px -->
            <!-- abs 是因為父層沒有固定高度，會導致吃原圖高度而跑版 -->
            <!-- 要讓圖片跟著父層吃 col 的 stretch 就要加上 abs -->
            <img
              src={`${SITE_BASE_PATH}/img/about/about.jpg`}
              alt="關於大港開唱"
              class="u-object-fit --abs --parallax"
            />
          </div>
        </div>
      </div>
      <div class="col-md-4 order-md-0 order-1">
        <div class="l-about__content-wrap">
          <div class="l-about__content mb-16" data-aos="fade-up">
            <h3 class="text-2xl font-900 mb-4">
              2022 年即將邁入第十三屆的《大港開唱》
            </h3>
            <p class="font-500 line-clamp-3">
              每年三月於高雄舉辦的大型音樂祭典，受到全台灣及日本香港年輕觀眾的喜愛，近年已成為台灣最具指標性的大型戶外音樂祭活動。
            </p>
          </div>
          <div class="l-about__content" data-aos="fade-up">
            <h3 class="text-2xl font-900 mb-4">「人生」與「音樂」</h3>
            <p class="font-500 line-clamp-3">
              大港舉辦在高雄港邊，獨特的海港地景和人文風情，常勾起人生中各種酸甜苦辣的回憶。也因如此，大港總是邀請有著豐富人生歷程的知名藝人及業界前輩演出，也會與新一代的樂團或藝人一起合作演出，交融出世代之間的化學效應，往往成為當年度為人津津樂道的經典現場
            </p>
          </div>
          <!-- div(class="o-btn --align-right mt-16") -->
          <!-- a(href=`${basePath}/about.html` target="_blank" class="o-btn__link") MORE -->
          <Btn
            href={`${SITE_BASE_PATH}/about/`}
            align="right"
            class="mt-16"
            data-aos="fade-up">MORE</Btn
          >
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .l-about {
    &::before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 60%;
      height: rem(80);
      transform-origin: right top;
      transform: skew(-35deg);
      background-image: linear-gradient(
        to left,
        var(--color-gray-light-80) 0%,
        var(--color-gray-light-80) 50%,
        transparent,
        50%,
        transparent 100%
      );
      background-size: 14% 100%;

      @include media(max-sm) {
        width: 40%;
        height: rem(64);
        background-size: 24% 100%;
      }
    }

    &__img-wrap {
      height: 100%;
      transform-origin: right bottom;
      transform: skew(35deg);
      overflow: hidden;
    }

    &__img-mask {
      width: 100%;
      height: 100%;
      transform-origin: right bottom;
      transform: skew(-35deg);

      @include media(max-md) {
        height: 60vw;
      }
    }

    &__content-wrap {
      padding: var(--spacing-10) 0 var(--spacing-20);

      @include media(max-md) {
        padding-left: 5vw;
      }

      @include media(max-sm) {
        padding-top: var(--spacing-6);
      }
    }

    &__content:first-child {
      margin-left: rem(-160);

      @include media(max-md) {
        margin-left: 0;
      }
    }
  }
</style>
