---
interface Props {
  text?: string;
  class?: string;
}

const {
  text = '台灣最生猛海派的音樂祭 ——『 大港開唱 』',
  class: className = '',
} = Astro.props;
---

<script>
  import { gsap } from 'gsap';
  import { ScrollTrigger } from 'gsap/ScrollTrigger';

  gsap.registerPlugin(ScrollTrigger);

  document.querySelectorAll<HTMLElement>('.c-blockade').forEach((blockade) => {
    const texts = blockade.querySelectorAll<HTMLElement>('.c-blockade__text');

    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: blockade,
        start: 'top center',
        end: 'bottom 20%',
        scrub: true,
      },
      ease: 'none',
    });

    tl.to(texts[0], { x: '-110vw' }, 'startLabel');
    tl.to(texts[1], { x: '100vw' }, 'startLabel+=5%');
    tl.to(texts[2], { x: '-60vw' }, 'startLabel+=5%');
    tl.to(texts[3], { x: '90vw' }, 'startLabel+=10%');
  });
</script>

<div class:list={['c-blockade', className]}>
  {
    [0, 1, 2, 3].map(() => (
      <div class="c-blockade__line">
        <span class="c-blockade__text">{text}</span>
      </div>
    ))
  }
</div>

<style lang="scss">
  .c-blockade {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: rem(200) 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 99;

    &__line:nth-child(1) {
      transform: rotate(-10deg);
    }

    &__line:nth-child(2) {
      transform: rotate(10deg);
    }

    &__line:nth-child(3) {
      transform: rotate(-5deg);
    }

    &__line:nth-child(4) {
      transform: rotate(5deg);
    }

    &__line:nth-child(1) &__text {
      transform: translateX(70vw);
    }

    &__line:nth-child(2) &__text {
      transform: translateX(-50vw);
    }

    &__line:nth-child(3) &__text {
      transform: translateX(100vw);
    }

    &__line:nth-child(4) &__text {
      transform: translateX(-100vw);
    }

    &__text {
      display: inline-block;
      padding: var(--spacing-4) var(--spacing-20);
      background-color: var(--color-black);
      font-size: rem(48);
      font-weight: 700;
      letter-spacing: rem(5);
      line-height: 1;
      color: var(--color-primary);
      white-space: nowrap;
      transition: transform 1s cubic-bezier(0.23, 0.83, 0.7, 1);

      @include media(max-md) {
        font-size: rem(42);
      }

      @include media(max-sm) {
        font-size: rem(40);
      }
    }
  }
</style>
