---
import Card from '@/components/Card.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  list: CollectionEntry<'news'>[];
}

const { list } = Astro.props;
// 兩個寫法都可以
// undefined 可以取消定義
// description = currentCate.description ? currentCate.description : undefined;
---

<div class="row --gap-md">
  {
    list.map((item) => (
      <div class="col-6 col-lg-4 col-xxl-3">
        <Card entry={item} />
      </div>
    ))
  }
</div>
