---
import Card from '@/components/News/Card.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  list: CollectionEntry<'news'>[];
}

const { list } = Astro.props;
// 兩個寫法都可以
// undefined 可以取消定義
// description = currentCate.description ? currentCate.description : undefined;
---

<div class="grid --gap-md grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4">
  {list.map((item) => <Card entry={item} />)}
</div>
