---
import Layout from '@/layouts/Layout.astro';
import InnerHero from '@/components/InnerHero.astro';
import NewsCategory from '@/components/NewsCategory.astro';
import type { CollectionEntry } from 'astro:content';

interface Props {
  currentCategory: CollectionEntry<'newsCategories'>['data'];
}

const { currentCategory } = Astro.props;
---

<Layout
  pageTitle={currentCategory.title}
  description={currentCategory.description || undefined}
>
  <main class="l-main">
    <InnerHero title={currentCategory.title} />
    <section class="l-news-list">
      <div class="container">
        <NewsCategory />
        <slot />
      </div>
    </section>
  </main>
</Layout>
